.demo
{
   width:100%;
   background-color:red;
   color: deeppink;
}

.red
{
    color:red;
}

body
{
    background-color:darkgray;
}
    
@media  (max-width:700px)
{
    .demo
    {
        width:100%;
        background-color:red;
    }
    .demo1
    {
        font-size: 30px;
    }

    .demo.demo1 .demo3
    {
        color: yellow;
    }
}
